In [2]:
import numpy as np
import pandas as pd
import datetime

import matplotlib.pyplot as plt

### Load GTD

In [3]:
FILE = 'globalterrorismdb_0718dist.csv'
gtd = pd.read_csv(FILE, index_col='eventid', encoding='ISO-8859-1')

gtd.head(2)

C:\Users\Abe-r\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
eventid,,,,,,,,,,,,,,,,,,,,,
197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,Central America & Caribbean,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,North America,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

### Minimized GTD

In [4]:
minified_cols = ['iyear', 'imonth', 'iday', 'country_txt', 'extended', 
                'country', 'region', 'success', 'attacktype1', 'targtype1',
               'natlty1', 'weaptype1']

gtd_min = gtd[minified_cols]

gtd_min.head(5)

,iyear,imonth,iday,country_txt,extended,country,region,success,attacktype1,targtype1,natlty1,weaptype1
eventid,,,,,,,,,,,,
197000000001,1970,7,2,Dominican Republic,0,58,2,1,1,14,58.0,13
197000000002,1970,0,0,Mexico,0,130,1,1,6,7,21.0,13
197001000001,1970,1,0,Philippines,0,160,5,1,1,10,217.0,13
197001000002,1970,1,0,Greece,0,78,8,1,3,7,217.0,6
197001000003,1970,1,0,Japan,0,101,4,1,7,7,217.0,8

### Combine Economic Data with GTD