In [3]:
import numpy as np
import pandas as pd
import datetime

import matplotlib.pyplot as plt

In [8]:
FILE = 'globalterrorismdb_0718dist.csv'
gtd = pd.read_csv(FILE, index_col='eventid', encoding='ISO-8859-1')

gtd.head(2)

C:\Users\Abe-r\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
eventid,,,,,,,,,,,,,,,,,,,,,
197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,Central America & Caribbean,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,North America,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [12]:
minified_cols = ['iyear', 'imonth', 'iday', 'country_txt', 'extended', 
                'country', 'region', 'success', 'attacktype1', 'targtype1',
               'natlty1', 'weaptype1']

gtd_min = gtd[minified_cols]

gtd_min[gtd_min['country_txt'] == 'Bolivia']

,iyear,imonth,iday,country_txt,extended,country,region,success,attacktype1,targtype1,natlty1,weaptype1
eventid,,,,,,,,,,,,
197007210001,1970,7,21,Bolivia,1,26,3,1,6,1,75.0,13
197105040001,1971,5,4,Bolivia,0,26,3,1,6,1,75.0,13
197105120001,1971,5,12,Bolivia,0,26,3,1,6,1,217.0,13
197401000001,1974,1,0,Bolivia,0,26,3,1,6,4,26.0,13
197607060001,1976,7,6,Bolivia,0,26,3,1,3,2,26.0,6
197708210001,1977,8,21,Bolivia,0,26,3,1,3,16,26.0,6
197801110001,1978,1,11,Bolivia,0,26,3,0,3,10,26.0,6
197808300003,1978,8,30,Bolivia,0,26,3,1,2,1,26.0,5
197809100002,1978,9,10,Bolivia,0,26,3,1,3,16,26.0,6
197909130001,1979,9,13,Bolivia,0,26,3,1,3,8,26.0,6
197910050001,1979,10,5,Bolivia,0,26,3,0,3,7,97.0,6
197910050002,1979,10,5,Bolivia,0,26,3,1,3,7,60.0,6
197910100001,1979,10,10,Bolivia,0,26,3,1,3,7,97.0,6
197910100002,1979,10,10,Bolivia,0,26,3,1,3,14,26.0,6
197910100003,1979,10,10,Bolivia,0,26,3,1,3,14,26.0,6
197910100004,1979,10,10,Bolivia,0,26,3,1,3,14,26.0,6
197910100005,1979,10,10,Bolivia,0,26,3,1,3,14,26.0,6
197910110001,1979,10,11,Bolivia,0,26,3,1,3,2,26.0,6
197910200001,1979,10,20,Bolivia,0,26,3,1,3,4,26.0,6
197910270001,1979,10,27,Bolivia,0,26,3,1,3,2,999.0,6
197912120001,1979,12,12,Bolivia,0,26,3,1,3,8,26.0,6
197912190001,1979,12,19,Bolivia,0,26,3,1,3,16,26.0,6
197912190002,1979,12,19,Bolivia,0,26,3,1,3,8,26.0,6
198001310001,1980,1,31,Bolivia,0,26,3,1,3,4,26.0,6
198001310002,1980,1,31,Bolivia,0,26,3,1,3,7,217.0,6
198001310003,1980,1,31,Bolivia,0,26,3,1,3,14,217.0,6
198002070001,1980,2,7,Bolivia,0,26,3,1,3,10,26.0,6
198002150006,1980,2,15,Bolivia,0,26,3,1,3,10,26.0,6
198002260001,1980,2,26,Bolivia,0,26,3,1,3,14,26.0,6
198003220001,1980,3,22,Bolivia,0,26,3,1,1,15,26.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
199211230011,1992,11,23,Bolivia,0,26,3,1,1,7,130.0,6
199211280007,1992,11,28,Bolivia,0,26,3,1,1,2,26.0,5
199211290013,1992,11,29,Bolivia,0,26,3,1,1,2,26.0,5
199211300011,1992,11,30,Bolivia,0,26,3,1,3,21,26.0,6
199212160009,1992,12,16,Bolivia,0,26,3,1,3,14,26.0,6
199212250006,1992,12,25,Bolivia,0,26,3,1,3,15,26.0,6
199402040008,1994,2,4,Bolivia,0,26,3,1,3,2,26.0,6
199403050006,1994,3,5,Bolivia,0,26,3,1,2,3,26.0,5
199405270007,1994,5,27,Bolivia,0,26,3,1,3,1,26.0,6
199405280008,1994,5,28,Bolivia,0,26,3,1,6,1,11.0,13
199407210009,1994,7,21,Bolivia,0,26,3,1,3,7,217.0,6
199408050001,1994,8,5,Bolivia,0,26,3,1,3,14,26.0,6
199408290003,1994,8,29,Bolivia,0,26,3,1,3,1,26.0,13
199410290010,1994,10,29,Bolivia,0,26,3,0,1,10,26.0,6
199501060004,1995,1,6,Bolivia,0,26,3,0,3,7,101.0,7
199511010010,1995,11,1,Bolivia,1,26,3,1,6,1,26.0,13
199604090021,1996,4,9,Bolivia,1,26,3,1,6,1,43.0,13
199704170003,1997,4,17,Bolivia,0,26,3,1,2,3,26.0,5
199704170004,1997,4,17,Bolivia,0,26,3,1,7,2,26.0,8
199705010003,1997,5,1,Bolivia,0,26,3,0,3,2,26.0,6
199706010005,1997,6,1,Bolivia,0,26,3,1,3,2,26.0,6
200312290001,2003,12,29,Bolivia,0,26,3,1,3,12,38.0,6
200505130004,2005,5,13,Bolivia,0,26,3,1,3,1,30.0,6
200712130001,2007,12,13,Bolivia,0,26,3,1,2,14,26.0,5
200712150008,2007,12,15,Bolivia,0,26,3,1,3,2,26.0,6
200712240001,2007,12,24,Bolivia,0,26,3,1,3,2,26.0,6
200904150009,2009,4,15,Bolivia,0,26,3,1,3,15,26.0,6
200908120002,2009,8,12,Bolivia,0,26,3,1,3,19,26.0,6
200908120003,2009,8,12,Bolivia,0,26,3,1,3,1,26.0,6
201210300018,2012,10,29,Bolivia,0,26,3,1,2,10,26.0,8